.clear-fix,
.self-clear:before,
.self-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.parent::before,
.parent::after {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}

.btn-transparent {
  border: none;
  background: transparent;
}

.btn-circle {
  border-radius: 50%;
  min-width: auto;
  min-height: auto;
  padding: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-no-decor {
  text-decoration: none;
}

.align-middle {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-underline {
  text-decoration: underline;
}

.align-bottom {
  vertical-align: bottom;
}

.align-top {
  vertical-align: top;
}

.margin-0 {
  margin: 0px;
}


.margin-0 {
  margin: 0px;
}


.margin-5 {
  margin: 5px;
}


.margin-10 {
  margin: 10px;
}


.margin-15 {
  margin: 15px;
}


.margin-20 {
  margin: 20px;
}


.margin-25 {
  margin: 25px;
}


.margin-30 {
  margin: 30px;
}


.margin-35 {
  margin: 35px;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-left-5,
input.padding-left-5 {
  padding-left: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-15,
input.padding-left-15 {
  padding-left: 15px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.pop-up {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}